---
import Layout from '../layouts/Layout.astro'
import ProductsSummary from '../components/E-Commerce/ProductsSummary'
import OrderSummary from '../components/E-Commerce/OrderSummary'

//Usar Astro.cookies
const { user } = Astro.locals
---

<Layout>
  <h1 class='mb-5 text-3xl font-bold'>Resumen de su carrito</h1>
  <div class='flex flex-col gap-5 lg:flex-row lg:gap-12'>
    <ProductsSummary client:only='react' className='p-8'>
      <div slot='fallback'>CARGANDO RESUMEN DE PRODUCTOS</div>
    </ProductsSummary>
    <OrderSummary client:only='react' user={user}>
      <div slot='fallback'>CARGANDO RESUMEN DE LA ORDEN</div>
    </OrderSummary>
  </div>
</Layout>
