---
export const prerender = false
import { Image } from 'astro:assets'
import LogoutButton from '../components/LogoutButton'
import Layout from '../layouts/Layout.astro'

const { user } = Astro.locals
---

<Layout>
  {user && (
    <div class='flex items-center justify-center'>
      <Image loading='eager' src={user.avatar} alt='User avatar' class='rounded-full object-cover' width={128} height={128}/>
    </div>
    <h1 class='text-3xl text-center font-medium mb-8'>
      ¡Bienvenido, {user.name}!
    </h1>
  )}
  <div class='flex justify-center'>
    <LogoutButton client:idle />
  </div>
</Layout>
